[package]
name = "gpui_ios_app"
version = "0.1.0"
edition.workspace = true
publish = false

[lib]
crate-type = ["staticlib"]
path = "src/lib.rs"

[dependencies]
gpui = { workspace = true, features = ["font-kit"] }
log.workspace = true
oslog = "0.2"
